Package: whiteboard
Version: 1.0
Architecture: all
Maintainer: Mehedi Hasan Hridoy <hridoy-15-5097@diu.edu.bd>
Description: Whiteboard Application
 A Python-based whiteboard application created by Mehedi Hasan Hridoy.
Depends: python3, python3-tk

